html, body {
	margin: 0
	box-sizzing: border-box;
}
.container {
	width: 1024px;
	margin: 0 auto;
	font-size: 13px;
	font-family: arial;
	font-weight: normal;
}
.section {
	width: 100%;
	padding-top: 10px;
	padding-bottom: 20px;
}
tr,td, th {
	border: 1px solid #ddd;
	padding: 5px;
}
label {
	font-size: 14px;
	min-width: 120px;
	float: left;
}
.row {
	margin-bottom: 10px;
}
button {
	height: 30px;
	width: 100px;
	font-size: 16px;
	margin-left: 120px;
	margin-top: 10px;
}
